@model IEnumerable<CodeBustersWMU1.Models.Product>

@{
    ViewBag.Title = "Produkter";
}

@* css styling för att description div taggen inte ska bli för bred *@
<style type="text/css">
    #description {
        width: 300px;
        margin: auto;
    }
</style>



<h2>Produkter</h2>


<table class="table">
    <tr>
        <th>
            @Html.Label("Bild")
        </th>
        <th>
            @Html.Label("Artikel namn")
        </th>
        <th>
            @Html.Label("Pris/st")
        </th>
        <th>
            @Html.Label("Lagerstatus")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{  String path = "";
                path = @Html.DisplayFor(modelItem => item.Image).ToString();
                }
                    <img src="@path" alt="bild" width="300" height="300" />

               
            </td>

            <td>

                <div id="description">

                    @Html.ActionLink(@item.ArticleName, "Details", "Details", new { id = @item.ArticleId }, null)

                    <br />
                    <br />
                    @{
                        String description = @item.Description;
                        description = description.Substring(0, 50);
                        description = String.Concat(description, "...");

                    }
                    <p>@description</p>
                </div>
            </td>
            <td>
                    @{
                        int price = item.Price;
                        string priceString = price.ToString("C");
                       <label>@priceString</label>
                    }
            </td>
            <td>
                @{
                    /* Visar olika typer av meddelanden beroende på antalet som finns kvar av varan */
                    string message = "";
                    int remains = int.Parse(@Html.DisplayFor(modelItem => item.Remaining).ToString());
                    if (remains == 0)
                    {
                        message = "Slut i lager";
                    }
                    else if (remains <= 5)
                    {
                        message = "Bara " + remains + "st kvar";
                    }
                    else if (remains <= 10)
                    {
                        message = "Bara ett fåtal kvar";
                    }
                    else
                    {
                        message = "Finns i lager";
                    }
                }
                <p>@message</p>

            </td>

            <td>
                @Html.ActionLink("Lägg till Kundvagn", "Details", "Details", new { id = @item.ArticleId }, null)
            </td>
        </tr>
     } @* For each loop, end *@




</table>
