@model IEnumerable<CodeBustersWMU1.Models.Product>

@{
    ViewBag.Title = "Produkter";
}

<h2>Produkter</h2>


<table class="table">
    <tr>
        <th>
            @Html.Label("Artikel namn")
        </th>
        <th>
            @Html.Label("Bild")
        </th>
        <th>
            @Html.Label("Pris/st")
        </th>
        <th>
            @Html.Label("Lagerstatus")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleName)

        </td>
        <td>
    <!-- 1:namn på sidan, 2: filnamn, 3: Mapp -->

    </td>

        <td>
           @{ 
               String path = item.Image;
               @Html.Label(path);
               }
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @{
                /* Visar olika typer av meddelanden beroende på antalet som finns kvar av varan */
                string message = "";
                int remains = int.Parse(@Html.DisplayFor(modelItem => item.Remaining).ToString());

                if (remains <= 5)
                {
                    message = "Bara " + remains + "st kvar";
                }
                else if (remains <= 10)
                {
                    message = "Bara ett fåtal kvar";
                }
                else
                {
                    message = "Finns i lager";
                    //@Html.DisplayFor(modelItem => item.Remaining)
                }
            }
            <p>@message</p>
            
        </td>
        <td>
            @Html.ActionLink("Mer Info", "Description", "DescriptionController", new { id = @item.ArticleId })
        </td>
    </tr>
}

</table>
