@model IEnumerable<CodeBustersWMU1.Models.Product>
@using CodeBustersWMU1.Models;
@{
    ViewBag.Title = "Shoppingbag";
}

<h2>@ViewBag.Title</h2>


@* Table to display the article information, this first part is the description of the table contents. *@

<table class="table" style="border:thin">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remaining)
        </th>
        <th></th>
    </tr>


    @{
        double total = 0.0;
        if (Session["Cart"] != null)
        {
            List<ShoppingCart> cartList = (List<ShoppingCart>)Session["Cart"];
            foreach (var item in cartList)
            {

            <tr>
                <th>
                    @item.Item.ArticleId
                </th>
                <th>
                    @Html.ActionLink(@item.Item.ArticleName, "Details", "Details", new { id = @item.Item.ArticleId }, null)
                </th>
                <th>
                    @{
                        double withTax = @item.Item.Price * 1.25;
                        
                    }
                    @withTax.ToString("C")
                </th>
                <th>
                    @item.Quantity
                </th>
                <th>
                    @Html.ActionLink("Lägg till", "AddToCart", "Product", new { id = @item.Item.ArticleId, fromView = "ShoppingBag" }, null)
                    @Html.ActionLink("Ta bort", "RemoveFromCart", "Product", new { id = @item.Item.ArticleId }, null)
                </th>
            </tr>

                total += (withTax * @item.Quantity);



            }
        }
        }

</table>

<br />
<br />

<h3><strong>@total.ToString("C")</strong></h3>



<br />
<br />
@*  if list is empty don't proceed to checkout ! *@
@{ 
    List<ShoppingCart> cart = (List<ShoppingCart>)Session["Cart"];
    if (cart != null)
    {
        if (cart.Any())
        {
            <a type="button" class="btn btn-primary btn-md" href="@Url.Action("Checkout", "Checkout")">Beställ</a>
        }
    }
    }
