@using CodeBustersWMU1.Models;
@{
    ViewBag.Title = "ShoppingBag";
}

<h2>ShoppingBag</h2>


@* Table to display the article information, this first part is the description of the table contents. *@

<table class="table" style="border:thin">
    <tr>
        <th>
            @Html.Label("Artikel Id")
        </th>
        <th>
            @Html.Label("Artikel")
        </th>
        <th>
            @Html.Label("Pris/st")
        </th>
        <th>
            @Html.Label("Antal")
        </th>
        <th></th>
    </tr>


    @{
        int total = 0;
        if (Session["Cart"] != null)
        {
            List<ShoppingCart> cartList = (List<ShoppingCart>)Session["Cart"];
            foreach (var item in cartList)
            {

            <tr>
                <th>
                    @item.Item.ArticleId
                </th>
                <th>
                    @Html.ActionLink(@item.Item.ArticleName, "Details", "Details", new { id = @item.Item.ArticleId }, null)
                </th>
                <th>
                    @item.Item.Price.ToString("C")
                </th>
                <th>
                    @item.Quantity
                </th>
                <th>
                    @Html.ActionLink("Lägg till", "AddToCart", "Product", new { id = @item.Item.ArticleId }, null)
                    @Html.ActionLink("Ta bort", "RemoveFromCart", "Product", new { id = @item.Item.ArticleId }, null)
                </th>
            </tr>

                total += (@item.Item.Price * @item.Quantity);



            }
        }
        }

</table>

<br />
<br />

<h3><strong>@total.ToString("C")</strong></h3>

@* TO DO: if list is empty don't proceed!!! *@

<br />
<br />
@{ 
    List<ShoppingCart> cart = (List<ShoppingCart>)Session["Cart"];
    if (cart != null)
    {
<a type="button" class="btn btn-primary btn-md" id="" href="@Url.Action("Checkout", "Checkout")">Checkout</a>
}
    }
