@using CodeBustersWMU1.Models;
@{
    ViewBag.Title = "ShoppingBag";
}

<h2>ShoppingBag</h2>


@* Table to display the article information, this first part is the description of the table contents. *@

<table class="table">
    <tr>
        <th>
            @Html.Label("Artikel Id")
        </th>
        <th>
            @Html.Label("Pris/st")
        </th>
        <th>
            @Html.Label("Antal")
        </th>
        <th></th>
    </tr>


    @{
        int total = 0;
        List<ShoppingCart> cartList = (List<ShoppingCart>)Session["Cart"];
        foreach (var item in cartList)
        {

            <tr>
                <th>
                    @item.Item.ArticleId
                </th>
                <th>
                    @item.Item.Price
                </th>
                <th>
                    @item.Quantity
                </th>
                <th>
                    @Html.ActionLink("Lägg till", "AddToCart", "Product", new { id = @item.Item.ArticleId }, null)
                    @Html.ActionLink("Ta bort", "RemoveFromCart", "Product", new { id = @item.Item.ArticleId }, null)
                </th>
            </tr>

                            total += (@item.Item.Price * @item.Quantity);



                        }
    }

</table>

<label>@total.ToString("C")</label>
<label><a href="@Url.Action("Checkout", "Checkout")">Checkout</a></label>