<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PokémonShop </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div style="background-color:#ffffff; align-self:center">
        <p style="text-align:center;">
            <img src="~/images/logo1.jpg" align="middle" alt="POKEMART" width="350" height="170" />

        <p />
    </div>
    <!-- navbar-fixed-top width="350" height="170"-->
    <div class="navbar navbar-inverse ">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hem", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- 1:namn på sidan, 2: filnamn, 3: Mapp -->
                    <li>@Html.ActionLink("Produkter", "Products", "Product")</li>
                    <li>@Html.ActionLink("Om oss", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
                
                
                @Html.Partial("_LoginPartial")

                @* Search form *@

                    <form class="navbar-form navbar-right" role="search" method="post">
                        <div class="form-group">
                            @using (Ajax.BeginForm("Search", "Search",
                                new AjaxOptions { UpdateTargetId = "OrderID" }))
                            {
                            @Html.TextBox("OrderID", null, new {@class = "form-control"})
                            }
                        </div>
                    </form>
                
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Codebusters </p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
                    @Scripts.Render("~/bundles/bootstrap")
                    @RenderSection("scripts", required: false)
                </body>
            </html>
