@using CodeBustersWMU1.Models;
@model IEnumerable<CodeBustersWMU1.Models.Product>
@{
    ViewBag.Title = "Details";
}

@Html.Partial("_ProductSuggestion", Model)


<div class="jumbotron" style="background-color:rgba(226, 226, 226, 0.70)">
    <div class="row">
        <div class="col-md-4">
            @{
                string path = @ViewData["Image"].ToString();
                path = @"~/Content/Images/" + @path;
            }
            <img src="@Url.Content(@path)" alt="Pokemon" width="400" height="400" />

        </div>

        <div class="col-md-4" style="padding-left:100px; width:auto">
            <h2>@ViewData["ArticleName"]</h2> <br /><br />
            @ViewData["Description"] <br /><br />
            @{
                double withTax = ViewData["Price"].ToInt() * 1.25;
                <h3><strong>@withTax.ToString("C")</strong></h3>
            }
            
            <br/>

            @if (ViewData["Remaining"].ToInt() > 0)
            {
                @Html.ActionLink("Lägg i Kundvagn", "AddToCart", "Product", new {id = ViewData["ArticleId"], fromView = "Details"}, null)
            }
            else
            {
                <h4 style="color:red">Slutsåld</h4>
            }


        </div>
    </div>
</div>


