@model CodeBustersWMU1.Models.Order
@*@model IEnumerable<CodeBustersWMU1.Models.*@

@{
    ViewBag.Title = "Checkout";
}
<h1>Checkout - Snart är dem dina!</h1>

@using (Ajax.BeginForm("CheckoutOut", "Checkout",
     new AjaxOptions { UpdateTargetId = "checkoutdetails" }))
{
   
    <strong><h3>Order ID: </h3></strong>

    <fieldset>
        <div id="checkoutdetails">
            @*@Html.LabelFor(model -> model.CustomerName) // borde vara så här hämta från tabellen*@


            @Html.Label("Förnamn")
            <br />
            @Html.TextBox("Förnamnbox")
            </div>
        <div class="editor-label">
            
            @Html.Label("Efternamn")
            <br />
            @Html.TextBox("Efternamnbox")
        </div>
        <div class="editor-label">
            @Html.Label("Personnr")
            <br />
            @Html.TextBox("Personnrbox")
            <br />
        </div>
        <div class="editor-label">
            @Html.Label("Postadress")
            <br />
            @Html.TextBox("Postadressbox")
            <br />
        </div>
        <div class="editor-label">
            @Html.Label("Postnr")
            <br />
            @Html.TextBox("Postnrbox")
            <br />
        </div>
        <div class="editor-label">
            @Html.Label("Ort")
            <br />
            @Html.TextBox("Ortbox")
            <br />
        </div>
        <div class="editor-label">
            @Html.Label("E-post")
            <br />
            @Html.TextBox("Epostbox")
            
        </div>
        <div class="editor-label">
            @Html.Label("Telefon nr")
            <br />
            @Html.TextBox("TeleNrbox")
        </div>
        <br />
        <a type="button" class="btn btn-primary btn-md" id="" href="@Url.Action("CheckoutComplete", "Checkout")">Betala</a>
       
    </fieldset>

    }